@model WebApplication.Models.DocumentType

@{
    ViewData["Title"] = "Delete";
}

<h2>Excluir</h2>

<h3>Tem certeza que deseja excluir este item?</h3>
<div>
    <h4>Tipo de Documento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <button type="submit" title="Confirmar" class="btn btn-success glyphicon glyphicon-ok"></button>
        <a asp-action="Index" class="btn btn-danger glyphicon glyphicon-remove" title="Cancelar"></a>
    </form>
</div>
